@model MVC_Store.Models.ViewModels.Pages.PageViewModel

@{
    ViewBag.Title = "PageDetails";
}

<h2 class="admin_page-title">Page details</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>

        <dd>
            @Html.Raw(Model.Body)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasSidebar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasSidebar)
        </dd>

    </dl>
</div>
<div class="mt-5 back__btn">
    @Html.ActionLink("Back to pages", "Index", "", new { @class = "btn btn-primary" })
    <img src="~/Content/img/left-pointing-arrow.svg" class="back__arrow" />
</div>
